/* Global styles */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	color: #4d4d4d;
	text-decoration: none;
}

a:hover {
	color: #f25f5c;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/* Header styles */

header {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#header-line-1 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 10px;
}

#header-line-2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

/* Navigation styles */

nav {
	background-color: #f25f5c;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	padding: 10px;
	transition: background-color 0.3s ease-in-out;
	border-radius: 5px;
}

nav a.current {
	background-color: #fff;
	color: #f25f5c;
}

nav a:hover {
	background-color: #fff;
	color: #f25f5c;
}

/* Main content styles */

#frame {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

aside {
	flex-basis: 300px;
	margin-right: 20px;
}

.sidebar-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

main {
	flex-basis: calc(100% - 320px);
	margin-bottom: 20px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	outline: none;
	border-color: #f25f5c;
}

select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%234d4d4d' d='M399.3 186.7L256 330 112.7 186.7C97.7 171.7 74.7 171.7 59.7 186.7l-48 48c-20.7 20.7-20.7 54 0 74.")
}